@page "/fashionmask"

<section id="mask">
  <div class="container">
    <div class="row">
      <div class="products">
        <div style="text-align: center;">
          <h2>Protective Fashion Mask</h2>
          <div>
            <h4>Product Introduction</h4>
            <p>
              The triple layer effectively blocks harmful particles such as bacteria and dust.<br>
              Nose support to fit the curve of the face.<br>
              Comfortable earbands for long wear.<br>
              Using a soft lining to minimize skin irritation during use.<br>
              It is a 100% domestically made mask.
            </p>
          </div>
          <br>
          <div>
            <h4>Product Effect</h4>
            <img src="./images/mask/mask-product-effect.jpg" width="350" height="300" style="padding-right: 5px; padding-bottom: 5px;" oncontextmenu="return false;">
            <p>Splash Blocking Test</p>
          </div>
          <br>
          <div>
            <h4>Product Information</h4>
            <img src="./images/mask/mask-information.jpg" width="400" height="350" style="padding-right: 5px; padding-bottom: 5px;" oncontextmenu="return false;">
            <p></p>
          </div>
          <br>
          <div>
            <p>
              <img src="./images/mask/fashion-mask.jpg" width="350" height="500" style="padding-right: 5px; padding-bottom: 5px;" oncontextmenu="return false;">
              <div>
                <b style="font-size: 24px;">A Type: </b>GRAPHENE YARN 32% (ANTI BACTERIA) + COOPER YARN 10% + POLY ELASTANE 8%
                <br>
                <b style="font-size: 24px;">B Type: </b>AIRO SILVER ANTI BACTERIA YARN 92% + POLY ELASTANE 8% & A/B FINISH
              </div>
            </p>
          </div>
          <br>
          <div>
            <h3>Fashion mask design</h3>
            <p>
              <img src="./images/mask/design-1.jpg" width="350" height="500" style="padding-right: 5px; padding-bottom: 5px;" oncontextmenu="return false;">
              <img src="./images/mask/design-2.jpg" width="350" height="500" style="padding-right: 5px; padding-bottom: 5px;" oncontextmenu="return false;">
              <img src="./images/mask/design-3.jpg" width="350" height="500" style="padding-right: 5px; padding-bottom: 5px;" oncontextmenu="return false;">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
