@page "/foil"

<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>Foil Print</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <table id="data">
        <tr>
          <td>
            <img class="myImages imagelayout" id="myImg" alt="JJ-20636" src="./images/foil-print/JJ-20636.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20635" src="./images/foil-print/JJ-20635.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20631" src="./images/foil-print/JJ-20631.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20630" src="./images/foil-print/JJ-20630.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20629" src="./images/foil-print/JJ-20629.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20628" src="./images/foil-print/JJ-20628.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20627" src="./images/foil-print/JJ-20627.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20626" src="./images/foil-print/JJ-20626.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20625" src="./images/foil-print/JJ-20625.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20624" src="./images/foil-print/JJ-20624.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20623" src="./images/foil-print/JJ-20623.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20622" src="./images/foil-print/JJ-20622.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20621" src="./images/foil-print/JJ-20621.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20620" src="./images/foil-print/JJ-20620.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20619" src="./images/foil-print/JJ-20619.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20605" src="./images/foil-print/JJ-20605.jpg" oncontextmenu="return false;">
          </td>
        </tr>
        <tr>
          <td>
            <img class="myImages imagelayout" id="myImg" alt="JJ-20604" src="./images/foil-print/JJ-20604.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20600" src="./images/foil-print/JJ-20600.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20599" src="./images/foil-print/JJ-20599.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-20598" src="./images/foil-print/JJ-20598.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-19874" src="./images/foil-print/JJ-19874.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-19873" src="./images/foil-print/JJ-19873.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-19621" src="./images/foil-print/JJ-19621.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-19620" src="./images/foil-print/JJ-19620.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-19619" src="./images/foil-print/JJ-19619.jpg" oncontextmenu="return false;">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>