@page "/"

<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h1>Welcome to JJ International Korea</h1>
          </div>
          <p class="large text_align_center">
            We export garment fabrics to large brands in the United States, and we are exporting only 100% domestic fabrics.<br>
            We also handle women's WOVEN / KNIT / LACE and various types of post-processing, PRINT, etc.
          </p>
        </div>
      </div>
    </div>
    <div class="full text_align_center margin_bottom_30">
      <h2>Major Buyers</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <a href="https://www.calvinklein.us/en">
              <img src="./images/CK.jpg" alt="calvinklein" width="250" height="150" style="padding-left: 10px; padding-right: 10px;">
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <a href="https://www.gap.com/">
              <img src="./images/GAP.png" alt="gap" width="250" height="150" style="padding-left: 10px; padding-right: 10px;">
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <a href="https://www.macys.com/?cm_sp=navigation-_-top_nav-_-macys_icon&lid=glbtopnav_macys_icon-intl">
              <img src="./images/Macys.jpg" alt="macys" width="250" height="150" style="padding-left: 10px; padding-right: 10px;">
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30 margin_0">
          <div class="center">
            <a href="https://bananarepublic.gap.com/">
              <img src="./images/BR.png" alt="bananarepublic" width="250" height="150" style="padding-left: 10px; padding-right: 10px;">
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <a href="https://www.michaelkors.global/en_NZ/">
              <img src="./images/MK.png" alt="michaelkors" width="250" height="150" style="padding-left: 10px; padding-right: 10px;">
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <a href="https://www.lillypulitzer.com/">
              <img src="./images/LP.png" alt="lillypulitzer" width="250" height="150" style="padding-left: 10px; padding-right: 10px;">
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <a href="https://www.anntaylor.com/">
              <img src="./images/AT.jpg" alt="anntaylor" width="250" height="150" style="padding-left: 10px; padding-right: 10px;">
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <a href="https://www.donnakaran.com/category/dkny.do">
              <img src="./images/DKNY.jpg" alt="donnakaran" width="250" height="150" style="padding-left: 10px; padding-right: 10px;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>Our Products</h2>
            <p class="large">We package the products with best services to make you a happy customer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
          <div class="product_img"> <img class="img-responsive" src="images/cloth/Product.png" alt=""> </div>
          <div class="product_detail_btm">
            <div class="center">
              <h4><a href="protectivecloth">Protective Cloth</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
          <div class="product_img"> <img class="img-responsive" src="images/mask/mask-information.jpg" alt=""> </div>
          <div class="product_detail_btm">
            <div class="center">
              <h4><a href="dentalmask">Dental Mask</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
          <div class="product_img"> <img class="img-responsive" src="images/mask/design-1.jpg" alt=""> </div>
          <div class="product_detail_btm">
            <div class="center">
              <h4><a href="fashionmask">Fashion Mask</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- GOOGLE MAP -->
<section id="google-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.690049477154!2d127.0700838151588!3d37.750415121333994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357cc6fb2d39e261%3A0x75c945243f2711d7!2s626%20Janggok-ro%2C%20Singok-dong%2C%20Euijeongbu%2C%20Gyeonggi-do%2C%20South%20Korea!5e0!3m2!1sen!2snz!4v1594003871737!5m2!1sen!2snz" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
