@page "/mesh"

<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>Mesh</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <table id="data">
        <tr>
          <td>
            <img class="myImages imagelayout" id="myImg" alt="JJ-19872" src="./images/mesh/JJ-19872.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-19871" src="./images/mesh/JJ-19871.jpg" oncontextmenu="return false;">
            <img class="myImages imagelayout" id="myImg" alt="JJ-19870" src="./images/mesh/JJ-19870.jpg" oncontextmenu="return false;">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
