@page "/protectivecloth"

<section id="clothing">
  <div class="container">
    <div class="row">
      <div class="products">

        <div style="text-align: center;">
          <h2>Protective Clothing</h2>
          <div>
            <h3>FDA Certificate</h3>
            <img src="./images/fda_certificate.jpg" oncontextmenu="return false;">
            <br>
            <br>
          </div>
          <div style="text-align: center;">
            <h3>Product Description</h3>
            <br>
            <img src="./images/cloth/Product.png" alt="product" width="700" height="450" style="padding-left: 10px; padding-right: 10px; text-align: center;">
            <br>
            <br>
            <ul style="text-align: left;">
              <li>
                Our protective clothing is made out of washable antibacterial fabric.
                The product has been developed to help medical staff and quarantine workers who are suffering from the field.
              </li>
              <li>
                Existing protective clothing is made of non-woven fabric, so it is not only heavy due to its thick thickness, but also has low flexibility, which reduces its activity.
                The body heat of the human body is increased by the high heat retention,
                but our fabric has overcome the existing disadvantages by not sticking to the body.
              </li>
              <li>
                In order to solve the problem of the existing non-woven fabric, we used silver nano antibacterial yarn for our protective clothing fabric,
                silver nano antibacterial yarn fabric has antibacterial and deodorizing effects and suppresses virus growth.
              </li>
              <li>
                As shown in the fabric test results, virus penetration test (artificial blood penetration resistance) and antibacterial performance washing (HAND
                WASH) The antibacterial performance persistence was also passed at the 3rd time.
              </li>
            </ul>
            <br>
            <div style="text-align: center;">
              <h3>Comparison with existing fabric</h3>
              <img src="./images/cloth/compare-front.jpg" width="600" height="350" oncontextmenu="return false;">
              <img src="./images/cloth/compare-back.jpg" width="600" height="350" oncontextmenu="return false;">
              <img src="./images/cloth/product-information.jpg" alt="product" width="800" height="300" style="padding-left: 10px; padding-right: 10px;">
            </div>
            <br>
            <h3>Size</h3>
            <img src="./images/cloth/size.PNG" alt="product" width="600" height="200" style="padding-left: 10px; padding-right: 10px;">
            <br>
            <h3>Weight</h3>
            <img src="./images/cloth/weight.PNG" alt="product" width="300" height="75" style="padding-left: 10px; padding-right: 10px;">
            <br>
            <br>
            <h3>Packaging</h3>
            <br>
            <img src="./images/cloth/package.png" alt="product" width="600" height="350" style="padding-left: 10px; padding-right: 10px;">
            <br>
            <img src="./images/cloth/packing.PNG" alt="product" width="150" height="75" style="padding-left: 10px; padding-right: 10px;">
            <br>
            <h3>Process</h3>
            <img src="./images/cloth/product_making.png" alt="product" width="600" height="300" style="padding-left: 10px; padding-right: 10px;">
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
