@inherits LayoutComponentBase

<header id="default_header" class="header_style_1">
  <!-- header bottom -->
  <div class="header_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo"> <a href="">JJInternationalKorea</a> </div>
          <!-- logo end -->
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->
          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                <li><a class="active" href="">Home</a></li>
                <li>
                  <a>Products</a>
                  <ul>
                    <li><a href="protectivecloth">Protective Cloth</a></li>
                    <li><a href="dentalmask">Dental Mask</a></li>
                    <li><a href="fashionmask">Fashion Mask</a></li>
                  </ul>
                </li>
                <li>
                  <a>Textile Fabrics</a>
                  <ul>
                    <li><a href="woven">Woven Fabric</a></li>
                    <li><a href="knit">Knit Fabric</a></li>
                    <li><a href="lace">Lace Fabric</a></li>
                    <li><a href="foil">Foil Print</a></li>
                    <li><a href="mesh">Mesh</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>
<!-- end header -->

<div class="main">
  <div class="content px-4">
    @Body
  </div>
</div>
